HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

#
# jqwiki導入後、テストをすると勝手にできる
# .jqwik-database
# よくわかってないのでとりあえずignore
# 用途がわかって、必要そうであれば、ignorelistから削除する
#
.jqwik-database

#
# tmpディレクトリ
# 適当なやつをDLする時に利用する
#
tmp/
